<div class="position-relative list-cover all-lists bg-light">
  <div class="card-category card-large">
    <h2 class="p-3">All lists</h2>
  </div>
</div>
<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't created any lists yet!" if @lists.empty? %></em></small></span>
    <div>
      <%= link_to 'add a list', new_list_path, class: 'btn btn-flat' %>
    </div>
  </div>
  <div class="row my-2">
  <% @lists.each do |list| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <div class="p-2 rounded-bottom d-flex flex-column">
            <%= link_to list.name, list_path(list), class: 'btn btn-cancel custom-design-button' %>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
                <i class="fa-solid fa-film"></i> <small class="flex-grow-1"><%= pluralize(list.movies.size, 'movie') %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
